# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# PyTorch related
*.pt
*.pth
*.onnx

# Dataset related
data/
*.tar.gz

# IDE Stuff
.idea/
.vs/
.vscode/

# CMake stuff
build/
cmake-build-*/

# Models are 500 MB+ don't need to be in git
assets/models/*